# pandas Data Structures:
We have learned about **Series**, lets learn DataFrames (2<sup>nd</sup> workhorse of pandas) to expand our concepts of Series.

* DataFrame
* Grab data (column wise)
* Grab data (raw wise)
* Grabbing an element or a sub-set of the dataframe
* Adding new column
* Deleting the column
* boolean_mask
* boolean_mask(Combine 2 conditions)
* reset_index(), set_index(), head(), tail(), info(), describe()

## DataFrame
* A very simple way to think about the DataFrame is, "bunch of Series together such as they share the same index". <br> 
* A DataFrams is a rectangular table of data that contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc). DataFrame has both a row and column index; it can be thought of as a dictionary of Series all sharing the same index. <br>

&#9758; *A good read for those, who are interested! ([Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do))<br>*

Let's learn **DataFrame with examples:**<br>

In [1]:
import pandas as pd
import numpy as np

Let's create two labels/indexes:
* for rows 'r1 to r10'
* for columns 'c1 to c10'

Let's start with a simple example, using **`arange()`** and **`reshape()`** together to create a 2D array (matrix).<br>

&#9989; *Use **TAB** for auto-complete and **shift + TAB**  for doc.*

In [2]:
i = ['r1', 'r2', 'r3','r4','r5',' r6',' r7',' r8',' r9',' r10'] 
c = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()

In [3]:
# How the index, columns and array_2d look like!
i

['r1', 'r2', 'r3', 'r4', 'r5', ' r6', ' r7', ' r8', ' r9', ' r10']

In [4]:
c

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [5]:
array_2d = np.arange(0,100).reshape(10,10)

In [6]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [7]:
# Let's create our first DataFrame using index, columns and array_2dnow 
df = pd.DataFrame(data = array_2d, index = i, columns = c)

In [ ]:
# How the DataFrame look like!
df  # select c1 from df

**df** is our first dataframe. <br>
We have columns, c1 to c10, and their corresponding rows, r1 to r10. <br>
Each column is actually a pandas series, sharing a common index (row labels). <br>

&#9758; Let's learn how to **Grab data** that we need, this is the most important thing we want to learn to move one!<br>

### Columns

In [ ]:
# Grabbing a single column 
df['c1'] # Select c1 from df
#df.c1
# The output looks like a series, right?.
# Also returned Series have the same index as the DataFrame

In [ ]:
type(df['c1']) # It is a pandas Series

In [ ]:
# Grabbing more than one column, pass the list of columns you need! 
df[['c1', 'c10']] # select c1, c10 from df

**df.column_name (e.g. df.c1, df.c2 etc)** can be used to grab a column as well, its good to know but I don't recommend. <br> 
If you press "TAB" after df., you will see lots of available methods, its good not to get confused with these option by using df.column_name.<br>
**Let's try this once**

In [ ]:
df.c5

### Adding new column
Lets try with "+" operation!

In [ ]:
df['c11'] = df['c1'] + df['c2']
df

### Deleting the column -- `drop()`

        *df.drop('new')-- ValueError: labels ['new'] not contained in axis

Shift+tab, you see the default axis is 0, which refers to the index (row labels), for column, we need to specify axis = 1.<br>
&#9758; rows refer to 0 axis and columns refers to 1 axis<br> 
&#9758; Quick Check: *df.shape gives tuple (rows, cols) at [0] and [1]*

In [ ]:
# We can delete a column using drop()
# df.drop('new')# ValueError: labels ['new'] not contained in axis
df.drop('c11', axis=1)

In [ ]:
df

&#9758; Is the "new" really deleted? <br>
Output df and you will see "new" is still there!<br>

To delete the column, you have to tell the pandas by setting<br>
* ***inplace = True*** (default is inplace=False).<br>

&#9989; *pandas is generous, it does not want us to lose the information by any mistake and needs inplace*

In [ ]:
df.drop('c11', axis = 1)

In [ ]:
df

### Rows
We can retrieve a row by its name or position with **[`loc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)** and **[`iloc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)**.<br>
**loc** -- Access a group of rows and columns by label(s)

In [ ]:
# df['r1'] # KeyError: 'r1'
df.loc['r1'] # loc for location in square brackets
# we see that the rows are series as well!

Using row's index location with **iloc**, even if our index is labeled.

In [ ]:
df.iloc[4] # iloc[index], index based location

In [ ]:
# more than one rows -- pass a list of rows!
df.loc[['r1','r2','r3']]

### Grabbing an element or a sub-set of the dataframe

In [ ]:
df

In [ ]:
# df.loc(req_row, re_col) -- pass row, col for the element!
df.loc['r1','c1']

In [ ]:
# for a sub-set, pass the list
df.loc[['r1','r2'],['c1','c2']]

In [ ]:
# another example - random columns and rows in the list 
df.loc[['r2','r5'],['c3','c4']]

In [ ]:
# We can do a conditional selection as well
df > 5
# df!=0 
# df=0

This is similar to NumPy boolean mask, lets try this:

    *bool_mask = df % 3 == 0
    *df[bool_mask]
returns values where it is True and NaN where False.

In [ ]:
# Return Divisible by 3 
bool_mask = df % 3 == 0
#bool_mask
df[bool_mask]
# One step and easier to do 
# df[df % 3 == 0]

&#9758; Its not common to use such operation on entire dataframe. We usually use them on a columns or rows instead.<br>
**For example, we don't want a row with NaN values.**<br>
What to do?<br>
Let's have a look at one example.

In [ ]:
# Our original dataframe is 
df # select * from df where c1 > 11

Let's apply a condition on column c1, say `c1 > 11`<br>
based on the conditional selection, the out put will be:

In [ ]:
df['c1'] > 11
#df[df['c1']>11]

We don't want `r1` and `r2` as they return NaN or null values. <br>
Let's filter the rows based on condition on column values.

In [ ]:
df[df['c1']>11] # df[boolean_mask]
# We will use such operation frequently in our course.

&#9758; The above, **"`df[df['c1']>11]`"** is a dataframe with applied condition, we can select any col from this dataframe.<br> For example:

In [ ]:
result = df[df['c1']>11]
result['c1']

We can do the above operations, (filtering and selecting a columns) in a single line (stack commonds).

In [ ]:
df[df['c1']>11]['c1']
# Could be little confusing for the beginners, but don't worry, we will 
# use such operations frequently in the course as well, you will find 
# them very handy.

In [ ]:
boollist = [False, False, True, True, True, True, True, True, True, True]
boollist
bool_ser = pd.Series(data=boollist, index=index)
bool_ser
df[bool_ser]

In [ ]:
# let's grab two columns, we need to pass the list ['c1','c9'] here
df[df['c1']>11][['c1','c9']]

In [ ]:
# We can do this operation on rows using loc 
# Passing multiple rows in a list
df[df['c1']>11].loc[['r3','r5']]

In [ ]:
df

In [ ]:
df['c1']==70

In [ ]:
df[df['c1']==70]

### Combine 2 conditions 
Let's try on c1 for a value > 60 and on c2 for a value > 80

In [ ]:
df

In [ ]:
(df['c1']>60) & (df['c2']>80)

In [ ]:
df[(df['c1']>60) & (df['c2']>80)]
# notice (df['c1']>60)&(df['c2']>80) in () for clear saperation
# with in [] wrapped in df []

&#9989;**NOTE:**<br>
"and" operator will not work in the above condition and using "and" will return <br>

        *ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

This "ambiguous" means, True, only work for a single booleans at a time "True and False". We need to use "&" instead. ("|" for or)<br>
Try the above code using "and" <br>
The "and" operator gets confused with series of True/False and raise Error

### Let's have a quick look on couple of useful methods.
***We will explore more later on in the course!***

**`reset_index()`** and **`set_index()`**<br>
We can reset the index of our dataframe to numerical index (which is default index), `inplace = True` to make the permanent change. *The existing index will be a new column.*

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
df.reset_index(inplace = True)
df

In [ ]:
df.reset_index()

** consider, We have a column in our data that could be a useful index,<br>
we want to set that column as an index!**<br>

In [ ]:
df = pd.DataFrame(data = array_2d, index = index, columns = column)
df

In [ ]:
newind = 'a b c d e f g h i j'.split() # split at white spaces
# let put newind as a col in the df
#df2 = df
df['newind'] = newind
df

#df = pd.DataFrame(data=array_2d, index=index, columns=columns)

In [ ]:
# setting newind as an index, needs to be inplaced
df.set_index('newind', inplace = True)

In [ ]:
df

### `head()`, `tail()`

In [ ]:
# Returns first n rows
df.head(n=2) # n = 5 by default

In [ ]:
# Returns last n rows
df.tail(n=2) # n = 5 by default

### `info()`
Provides a concise summary of the DataFrame.

In [ ]:

df.info()

### `describe()`
Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding `NaN` values.

In [ ]:
df.describe()

# Excellent! 
I want to congratulate here, you are making a great progress, keep it up!